
// All styles for the footer go here

$TABlack: #232323;
$TALighterBlack: $TABlack - 10;

$TABlackTransparent: rgba(35, 35, 35, .3);
$TATransparent: rgba(35, 35, 35, 0);

.text-adventure-inner-shadow {
	position: fixed;
	z-index: 8;
	background: none;
	-moz-box-shadow:    inset 0 0 1000px #000000;
  	-webkit-box-shadow: inset 0 0 1000px #000000;
  	box-shadow:         inset 0 0 1000px #000000;
}

// .text-adventure input[type="text"]{
//     color : transparent;
//     text-shadow : 0 0 0 #000;
// }
// .text-adventure input[type="text"]:focus{
//     outline : none;
// }

// .text-adventure-bar-container {
// 	position: fixed;
// }

.text-adventure-bar {
	width: 110%;
	left: -10px;
	height: 250px;
	position: fixed;
	top: -260px;
	z-index: 5;
	-moz-box-shadow:    0 5px 5px white;
  	-webkit-box-shadow: 0 5px 5px white;
  	box-shadow:         0 5px 5px white;
	opacity: .0625;

	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

// .text-adventure-bar-2 {
// 	@extend .text-adventure-bar;
// }

// .text-adventure-bar-2 {
// 	@extend .text-adventure-bar;
// 	height: 20px;
// 	position: fixed;
// 	top: 100px;
// 	z-index: 6;
// 	opacity: .01;
// }

// .text-adventure-bar-3 {
// 	@extend .text-adventure-bar;
// 	height: 40px;
// 	position: fixed;
// 	top: 500px;
// 	z-index: 7;
// 	opacity: .015;
// }

.text-adventure-body,
// .text-adventure,
// .text-adventure-container,
.text-adventure-background-container,
.text-adventure-inner-shadow,
.text-adventure-fade-overlay {
	width: 100%;
	height: 100%;
}

.text-adventure {
	position: relative;
	overflow: hidden;
}

// .text-adventure-container {
// 	display: table;
// }

// #adventure-log,
// #text-adventure-input {
// 	display: table-row;
// }

#adventure-log {
	// position: absolute;
	// overflow: scroll;
	width: 100%;
	bottom: 60px;
	padding: 20px 20px 0 20px;
}

#text-adventure-input {
	// position: fixed;
	// bottom: 0;
	padding: 0 20px 20px 20px;
}

.text-adventure-body {
	line-height: 1.5em;
	font-size: 18px;
	position: relative;
	// display: table;
	text-shadow: 0px 0px 1px #fff;
}

.text-adventure-background-container {
	z-index: 0;
	position: fixed;
	// Background(s)
	background: $TABlack;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from($TABlack), to($TALighterBlack));
	background: -webkit-radial-gradient(circle, $TABlack, $TALighterBlack);
	background: -moz-radial-gradient(circle, $TABlack, $TALighterBlack);
	background: -ms-radial-gradient(circle, $TABlack, $TALighterBlack);
}

.text-adventure-fade-overlay {
	position: fixed;
	z-index: 2;
	// Background(s)
	background: $TABlack;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from($TATransparent), to($TABlackTransparent));
	background: -webkit-radial-gradient(circle, $TATransparent, $TABlackTransparent);
	background: -moz-radial-gradient(circle, $TATransparent, $TABlackTransparent);
	background: -ms-radial-gradient(circle, $TATransparent, $TABlackTransparent);
}

.text-adventure {
	color: white;
	font-family: "Lucida Console", monospace;
}

.text-adventure-container {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

// #text-adventure-input {
// 	position: absolute;
// 	bottom: 0;
// }

#blinking-cursor:after {
	visibility: visible;
	left: -1px;
	content: '';
	background-color: #fff;
	display: inline-block;
	position: relative;
	width: 0.5em;
	height: 1.15em;
	top: 0.18em;
	-webkit-animation: blinking-cursor 1s steps(1) infinite; /* Safari 4+ */
  	-moz-animation:    blinking-cursor 1s steps(1) infinite; /* Fx 5+ */
  	-o-animation:      blinking-cursor 1s steps(1) infinite; /* Opera 12+ */
  	animation:         blinking-cursor 1s steps(1) infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking-cursor {
  0%   	{ opacity: 0; }
  50%	{ opacity: 1; }
  100% 	{ opacity: 0; }
}
@-moz-keyframes blinking-cursor {
  0%   	{ opacity: 0; }
  50%	{ opacity: 1; }
  100% 	{ opacity: 0; }
}
@-o-keyframes blinking-cursor {
  0%   	{ opacity: 0; }
  50%	{ opacity: 1; }
  100% 	{ opacity: 0; }
}
@keyframes blinking-cursor {
  0%   	{ opacity: 0; }
  50%	{ opacity: 1; }
  100% 	{ opacity: 0; }
}

// @-webkit-keyframes blinking-cursor {
//   0%   	{ background-color: #fff; }
//   50%	{ background-color: $TABlack; }
//   100% 	{ background-color: #fff; }
// }
// @-moz-keyframes blinking-cursor {
//   0%   	{ background-color: #fff; }
//   50%	{ background-color: $TABlack; }
//   100% 	{ background-color: #fff; }
// }
// @-o-keyframes blinking-cursor {
//   0%   	{ background-color: #fff; }
//   50%	{ background-color: $TABlack; }
//   100% 	{ background-color: #fff; }
// }
// @keyframes blinking-cursor {
//   0%   	{ background-color: #fff; }
//   50%	{ background-color: $TABlack; }
//   100% 	{ background-color: #fff; }
// }


// Need a customizable mixin for blinking cursor
// Need a mixin for radial gradients

//
//

.carrot {
	float: left;
}

// All styles for the input element on the error page go here

input#text-adventure-input-element {
	background: none;
	border: none;
	color: #ffffff;
	float: left;
	line-height: 1.5em;
	font-size: 18px;color: white;
	font-family: "Lucida Console", monospace;
	padding: 0;
	margin: 0;
	margin-left: 11px;
	text-shadow: 0px 0px 1px #fff;
}

input#text-adventure-input-element:focus {
	outline: 0;
}
