
input.adventure-input {
	background: none;
	border: 1px solid #efefef;
	font-size: 18px;
	font-family: "Lucida Console", monospace;
	line-height: 1.5;
}

input.adventure-input:focus {
	outline: 0;
}
